:root {
  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}

nav>img{
  padding-right: .6rem;
}

.nav-bar{
  display: flex;
  background-color: #21222A;
  padding: 2.8rem 2.2rem;
}

.nav-title{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 2.25rem;
  color: #61DAFB;
}

.project-num{
  margin-left: auto;
  font-weight: 600;
  font-size: 1.6rem;
  color: #DEEBF8;
}
